In [14]:
!pip install -U spacy
import spacy
!python -m spacy download en_core_web_sm

'pip3' is not recognized as an internal or external command,
operable program or batch file.
'python3' is not recognized as an internal or external command,
operable program or batch file.

In [507]:
!pip install num2words
from num2words import num2words
!pip install inflect
import inflect

Requirement already satisfied: num2words in c:\users\aarush\anaconda3\lib\site-packages (0.5.10)
Requirement already satisfied: docopt>=0.6.2 in c:\users\aarush\anaconda3\lib\site-packages (from num2words) (0.6.2)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: inflect in c:\users\aarush\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\aarush\anaconda3\lib\site-packages (from inflect) (1.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\aarush\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->inflect) (2.1.0)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [629]:
import pandas as pd
import re

In [6]:
train_data = pd.read_csv("C:/Users/aarush/Downloads/TrainingTestSet.csv")
train_data.head()

,File Name,Aggrement Value,Aggrement Start Date,Aggrement End Date,Renewal Notice (Days),Party One,Party Two
0,404_Sai Sadan_Rental Agreement,15500.0,26.06.2016,31.04.2017,30.0,Mr. RK Senthil Kumar,Mr. Sandipan Nandy Mazumdar
1,Bangalore Agreement_New,NaN,01.05.2015,28.02.2018,15.0,MR AMAR ARUN WAGH,MR SANDEEP DUTTA
2,Draft lease Eternia June 1 2017 to - April 3...,42500.0,01.06.2017,30.04.2018,30.0,Mrs. Meera Garge,Mr. Sameer Khanna
3,Rent Agreement Bengaluru,15000.0,01.05.2016,31.04.2017,60.0,Mrs. Usha Tiwari,Mr. Vijesh Bhaktha
4,Rental Agreement_Sanjeevini Pebbles,19000.0,01.08.2017,31.05.2018,30.0,Mr.Dhannatej Vaddadi,Mr. Sandeep Dutta

In [7]:
validation_data = pd.read_csv("C:/Users/aarush/Downloads/ValidationSet.csv")
validation_data.head()

,File Name,Aggrement Value,Aggrement Start Date,Aggrement End Date,Renewal Notice (Days),Party One,Party Two
0,24158401-Rental-Agreement,12000,01.04.2008,31.03.2009,60.0,Hanumaiah,Vishal Bhardwaj
1,63793679-Rental-Agreement,9000,01.09.2011,31.08.2012,NaN,S Parthasarathy,Hari Kiran Tholeti
2,95980236-Rental-Agreement,9000,01.04.2010,31.03.2011,30.0,S.Sakunthala,V.V.Ravi Kian
3,156155545-Rental-Agreement-Kns-Home,12000,15.12.2012,14.11.2013,30.0,V.K.NATARAJ,VYSHNAVI DAIRY SPECIALITIES Private Ltd
4,195231682-This-RENTAL-AGREEMENT-is-Made-and-Ex...,13000,06.04.2013,05.03.2014,30.0,C.BHAGYAMMA,JP INTERIO

In [22]:
!pip install dateparser
import spacy
import dateparser
import re
def date_fn(date , text):
    import en_core_web_sm
    nlp = en_core_web_sm.load()
    #nlp = spacy.load('en_core_web_sm')
    date_tup = (dateparser.parse(date).year, dateparser.parse(date).month , dateparser.parse(date).day)
    print(date_tup)
    temp_text = nlp(text)
    dates_in_text = []
    parsed_dates_in_text = []
    ol=[]
    for i in temp_text.ents:
        if(i.label_ == 'DATE'):
            print(i.text , i.label_)
            dates_in_text.append(i.text)
            parsed_dates_in_text.append((dateparser.parse(i.text).year,dateparser.parse(i.text).month,dateparser.parse(i.text).day))
    print(dates_in_text)
    print(parsed_dates_in_text)
    for i in range(len(parsed_dates_in_text)):
    # here we are matching year month and day , can make changes if subpart is to be matched
    #if((parsed_dates_in_text[i][0],parsed_dates_in_text[i][1]) == (date_tup[0],date_tup[1]))
        if (parsed_dates_in_text[i] == date_tup):
            ol.append(dates_in_text[i])
    print(ol)
    ol1=[]
    tol=[]
    for i in ol:
    # to extract indices from start to end+1 , can make changes if needed otherwise
    #ol1=[(i,t.start(),t.start()+len(i),'label') for t in re.finditer(i,str)]
        tol=[(i,t.start(),t.start()+len(i),'date') for t in re.finditer(i,text)]
        ol1=[(t.start(),t.start()+len(i),'date') for t in re.finditer(i,text)]
    print(tol)
    print(ol1)
    return ol1
    
 

t=date_fn("22nd of oct 2019",'i will see u tomorrow . it takes 10 days to climb everest.your frind went out with your girlfrient on 22nd of october 2019 . anurag is god . i will kill you tomorrow . mohan dies on 10th jan 2020 . my birthday is on 22/10/1999')
print(t)

Requirement already satisfied: dateparser in c:\users\aarush\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: pytz in c:\users\aarush\anaconda3\lib\site-packages (from dateparser) (2017.2)
Requirement already satisfied: python-dateutil in c:\users\aarush\anaconda3\lib\site-packages (from dateparser) (2.2)
Requirement already satisfied: regex in c:\users\aarush\anaconda3\lib\site-packages (from dateparser) (2020.1.8)
Requirement already satisfied: tzlocal in c:\users\aarush\anaconda3\lib\site-packages (from dateparser) (2.0.0)
Requirement already satisfied: six in c:\users\aarush\anaconda3\lib\site-packages (from python-dateutil->dateparser) (1.12.0)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

(2019, 10, 22)
tomorrow DATE
10 days DATE
22nd of october 2019 DATE
tomorrow DATE
10th jan 2020 DATE
['tomorrow', '10 days', '22nd of october 2019', 'tomorrow', '10th jan 2020']
[(2020, 1, 27), (2020, 1, 16), (2019, 10, 22), (2020, 1, 27), (2020, 1, 10)]
['22nd of october 2019']
[('22nd of october 2019', 102, 122, 'date')]
[(102, 122, 'date')]
[(102, 122, 'date')]

In [160]:
tw=date_fn("22nd of oct 2019",'i will see u . it takes 10 days to climb everest.your frind went out with your girlfrient on 22nd of october 2019 . anurag is god . i will kill you tomorrow . mohan dies on 10th jan 2020 . my birthday is on 22/10/1999')
print(tw)

(2019, 10, 22)
10 days DATE
october 2019 DATE
tomorrow DATE
10th jan 2020 DATE
['10 days', 'october 2019', 'tomorrow', '10th jan 2020']
[(2020, 1, 16), (2019, 10, 26), (2020, 1, 27), (2020, 1, 10)]
[]
[]
[]
[]

In [41]:
train_data['Aggrement Start Date'][9]

'20.05.2007'

In [57]:
!pip install docx2txt
import docx2txt

Requirement already satisfied: docx2txt in c:\users\aarush\anaconda3\lib\site-packages (0.8)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [663]:
text = docx2txt.process("C:/Users/aarush/Downloads/Training_data/54770958-Rental-Agreement.pdf.docx")
print(text)

RENTAL AGREEMENT

This Rental Agreement made and executed at Bangalore on this 1st day April two thousand eleven (01/04/2011), between Prof. K. Parthasarathy, S/o. Late T.S.Krishna Iyengar aged about 75 years, No. 46, Srinivasa, 2nd Main Road, Hanumanthanagar, Bangalore-560019, herein after called “LESSOR” (which expression shall where-ever the context so requires or permits mean and include here heirs, executors, administrators and assign) of the FIRST PART.

AND

Mr. Veerabrahmam Bathini, S/o Mr.Lingaiah Bathini aged about 28 years (Sr. Engineer-PSS working at Power Research and Development Consultants, #5, 11th cross, 2nd stage, West of Chord Road, Bangalore-560086, herein after called “LESSEE” (Tenant) of the SECOND PART.

WITNESSETH AS FOLLOWS:

	The Lessor hereby covenants with Lessee and warrants that he is the owner and as such as the right and the authority to lease the First Floor of premises No. 146, Krishna Krupa, 3rd Cross, 1st Main, VHBCSL Layout, West of Chord Road, Bangalore-560086.

	The Lessor hereby agrees to let to the Lessee the First Floor of the premises, No. 146, Krishna Krupa, 3rd Cross, 1st Main, VHBCSL Layout, West of Chord Road, Bangalore- 560086 on the following terms conditions.

	The Lessee will pay the Lessor for the premises herein described in the schedule, a monthly rent of Rs.8,000/- (Ruppes eight thousand only). The rent shall be paid on or before 10th of each calendar month without deductions whatsoever. If the Lessee fails to pay the monthly rent in time, the Lessor shall have the liberty to resume the schedule premises without re-course to any action, legal or other wise.

	The Lessee shall not pay any advance to the premises.

	This rental agreement shall be valid for a period of twelve months, from the date of execution and subject to renewal on expiry of the above lease period on execution of fresh LEASE-DEED on mutual consent.

	Under no circumstances, the schedule premises shall be sublet or underlet to any one else but shall be used by lessee for his bonafide residence only.

	The Lessee undertakes the full responsibility for the payment of all electric and water charges and receipts retained for record.

	Additions or alterations shall not be made to th existing structure without written consent from the Lessor.

	If any damage is caused to the schedule premises, the same shall be got repaired by the Lessee at his own cost.

	The Lessee upon termination of this agreement will peacefully and quietly leave to the Lessor the possession of the said premises together with the fixtures and fittings as given below in substantially same condition by the lessee except for the normal wear and tear.

	The Lessor or his authorized agent shall be permitted to enter schedule premises at all reasonable hours to inspect the same for its wear and tear.

	Both the parties agree that this lease agreement may be terminated by the Lessee by giving three months notice in writing.

SCHEDULE

The first floor of the No. 146, VHBCSL Layout, 3rd cross, 1st Main, Bangalore-560086 bounded by

East by 147 and North by 161

West by Road and South by Road



ANNEXURE

	Ceiling fan 48”

	European closet

	Wash basin with mirror-

	Water geyser(25 Itrs)--

	Solar water heater

	Tube lights

Four numbers Two numbers Two numbers each 2 kA( Johnson make) 150 Itrs (komal make) four nos.

IN WITNESS WHEREOF the Lessor and Lessee have affixed their signature to this rental agreement on the day, month and the year first above written.

WITNESS

LESSOR

1.

1.

LESSEE





















































	2.	2.

In [664]:
Party_one = train_data['Party One'][17]
print(Party_one.lower())
indices_party_one = [(m.start(),m.end()) for m in re.finditer(Party_one.lower(), text.lower())]
print(indices_party_one)
for i in indices_party_one:
    print(text[i[0] - 10:i[1] + 10])

k. parthasarathy
[(141, 157)]
een Prof. K. Parthasarathy, S/o. Lat

In [628]:
notice = train_data['Renewal Notice (Days)'][35]
print(notice)
notice_formats = []
indices_notice= []
notice_formats = [str(notice) + ' days', str(int(notice)) + ' days',
                  str(notice) + ' day', str(int(notice)) + ' day']
if(int(notice))>=30:
    month = int(notice//30)
    notice_formats = notice_formats + [' ' + str(month) + ' month', p.number_to_words(month) + ' month',
                                       ' ' + str(month) + ' months', p.number_to_words(month) + ' months',]
print(notice_formats)
for i in notice_formats:
    try:
        indices_notice = indices_notice + [(m.start(),m.end()) for m in re.finditer(i.lower(), text.lower())]
    except:
        pass
print(indices_notice)
for i in indices_notice:
    print(text[i[0] - 10:i[1] + 10])
#three month, three months, 3 month, 3 months, 90 days, 90.0 days

30.0
['30.0 days', '30 days', '30.0 day', '30 day', ' 1 month', 'one month', ' 1 months', 'one months']
[(2183, 2192)]
reed that one month notice on

In [581]:
amount = train_data['Aggrement Value'][26]
p = inflect.engine()
amt_formats = []
indices_amt = []
amt_formats.append(' '.join(p.number_to_words(int(amount)).split(' and ')))
amt_formats.append(' '.join(amt_formats[0].split('-')))                 #ninety-nine->ninety nine
amt_formats = list(set(amt_formats + [re.sub(',','',amt_formats[0]), 
                                      re.sub(',','',amt_formats[1])] + [str(amount),
                                      str(int(amount)), f"{int(amount):,d}", 
                                      re.sub(',','.',f"{int(amount):,d}")]))
print(amt_formats)
for i in amt_formats:
    try:
        indices_amt = indices_amt + [(m.start(),m.end()) for m in re.finditer(i.lower(), text.lower())]
    except:
        pass
print(indices_amt)
for i in indices_amt:
    print(text[i[0] - 10:i[1] + 10])

['9000.0', '9.000', '9,000', 'nine thousand', '9000']
[(2585, 2598), (2570, 2574)]
- (Rupees Nine Thousand only) per
ENT of Rs.9000/- (Rupees

In [536]:
import datetime
date = "01.09.2018"
dict1 = {}
date_formats1 = []
date_result = []
indices_date = []
for i in range(1, 32):
    dict1[i] = 'th'
for i in [1, 21, 31]:
    dict1[i] = 'st'
for i in [2, 22]:
    dict1[i] = 'nd'
for i in [3, 23]:
    dict1[i] = 'rd'

suffix1 = '%d' + dict1[int(date[0:2])]                        #15th day
suffix2 = num2words(int(date[0:2]),ordinal=True)              #fifteenth day
suffix3 = '%d'                                                #15 day
for suffix in [suffix1, suffix2, suffix3]:
    for mid_str in [' day ', ' of ', ' day of ', ' ']:
        date_formats1 = date_formats1 + [suffix + mid_str + '%b %Y', 
                suffix + mid_str + '%b, %Y',
                suffix + mid_str + '%b,%Y',
                suffix + mid_str + '%B %Y', 
                suffix + mid_str + '%B, %Y',
                suffix + mid_str + '%B,%Y']
for i in date_formats1:
    temp = datetime.datetime.strptime(date, '%d.%m.%Y').strftime(i)
    if(temp[0]=='0'):
        temp = temp[1:]
    date_result.append(temp)
print(date_result)

['1st day Sep 2018', '1st day Sep, 2018', '1st day Sep,2018', '1st day September 2018', '1st day September, 2018', '1st day September,2018', '1st of Sep 2018', '1st of Sep, 2018', '1st of Sep,2018', '1st of September 2018', '1st of September, 2018', '1st of September,2018', '1st day of Sep 2018', '1st day of Sep, 2018', '1st day of Sep,2018', '1st day of September 2018', '1st day of September, 2018', '1st day of September,2018', '1st Sep 2018', '1st Sep, 2018', '1st Sep,2018', '1st September 2018', '1st September, 2018', '1st September,2018', 'first day Sep 2018', 'first day Sep, 2018', 'first day Sep,2018', 'first day September 2018', 'first day September, 2018', 'first day September,2018', 'first of Sep 2018', 'first of Sep, 2018', 'first of Sep,2018', 'first of September 2018', 'first of September, 2018', 'first of September,2018', 'first day of Sep 2018', 'first day of Sep, 2018', 'first day of Sep,2018', 'first day of September 2018', 'first day of September, 2018', 'first day of September,2018', 'first Sep 2018', 'first Sep, 2018', 'first Sep,2018', 'first September 2018', 'first September, 2018', 'first September,2018', '1 day Sep 2018', '1 day Sep, 2018', '1 day Sep,2018', '1 day September 2018', '1 day September, 2018', '1 day September,2018', '1 of Sep 2018', '1 of Sep, 2018', '1 of Sep,2018', '1 of September 2018', '1 of September, 2018', '1 of September,2018', '1 day of Sep 2018', '1 day of Sep, 2018', '1 day of Sep,2018', '1 day of September 2018', '1 day of September, 2018', '1 day of September,2018', '1 Sep 2018', '1 Sep, 2018', '1 Sep,2018', '1 September 2018', '1 September, 2018', '1 September,2018']

In [537]:
date_formats2 = ['%b %d, %Y', '%B %d, %Y',
                 '%b %d %Y', '%B %d %Y', '%d.%m.%Y', 
                 '%#d-%#m-%Y', '%d.%m.%y',
                 '%#d/%#m/%Y']
for i in date_formats2:
    temp2 = datetime.datetime.strptime(date, '%d.%m.%Y').strftime(i)
    date_result.append(temp2)
    print(temp2)
date_result = list(set(date_result))
print(date_result)
for i in date_result:
    try:
        indices_date = indices_date + [(m.start(),m.end()) for m in re.finditer(i.lower(), text.lower())]
    except:
        pass
print(indices_date)
for i in indices_date:
    print(text[i[0] - 10:i[1] + 10])

Sep 01, 2018
September 01, 2018
Sep 01 2018
September 01 2018
01.09.2018
1-9-2018
01.09.18
1/9/2018
['first of Sep,2018', '1st day of Sep, 2018', '1st September 2018', 'first September 2018', 'first September,2018', '1 day September,2018', '1st of Sep, 2018', '1st of September,2018', '1 day of September 2018', '1st September, 2018', '1 Sep 2018', 'first September, 2018', 'Sep 01 2018', '01.09.18', '1/9/2018', '1 September, 2018', '1st of September 2018', '1 September 2018', '1st day of September 2018', 'first day September,2018', '1 of September 2018', '1st day September 2018', '1st of Sep 2018', 'first day September 2018', '1st Sep 2018', 'first Sep,2018', '1 Sep,2018', '1st of September, 2018', 'first day of Sep,2018', 'first day Sep 2018', '1st day Sep, 2018', 'first Sep 2018', '01.09.2018', 'first day of Sep, 2018', 'September 01 2018', 'first of Sep, 2018', '1st day Sep 2018', '1 September,2018', '1 of Sep,2018', '1 day of Sep, 2018', 'first day of September 2018', '1 day of September,2018', 'first day Sep,2018', 'first day September, 2018', 'first of September, 2018', 'Sep 01, 2018', '1st Sep, 2018', 'first of September,2018', '1st September,2018', 'first Sep, 2018', '1 day of Sep,2018', '1st day September, 2018', '1st day Sep,2018', '1st Sep,2018', '1 Sep, 2018', 'first of September 2018', '1st day of September,2018', 'first day Sep, 2018', '1st day of Sep,2018', '1st day September,2018', '1 day Sep,2018', '1 day of Sep 2018', '1 of September,2018', '1 day Sep 2018', '1st day of September, 2018', '1 day Sep, 2018', 'first of Sep 2018', 'first day of Sep 2018', 'first day of September, 2018', 'September 01, 2018', '1-9-2018', '1 day of September, 2018', 'first day of September,2018', '1 day September 2018', '1 of Sep, 2018', '1st of Sep,2018', '1st day of Sep 2018', '1 of September, 2018', '1 day September, 2018', '1 of Sep 2018']
[]